{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
  &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  {% if original %}
  &rsaquo; <a href="{% url opts|admin_urlname:'change' original.pk|admin_urlquote %}">{{ original|truncatewords:"18" }}</a>
  {% endif %}
  &rsaquo; {{ title }}
</div>
{% endblock %}

{% block object-tools-items %}
  {{ block.super }}
  {% for item in object_tools_items %}
    <li>
      <a href="{{ item.url }}">{{ item.label }}</a>
    </li>
  {% endfor %}
{% endblock %}

{% block submit_buttons_bottom %}
  {% if save_label or save_buttons %}
  <div class="submit-row">
    {% if save_label %}
    <input type="submit" value="{{ save_label }}" class="default" name="_save">
    {% endif %}
    {% if save_buttons %}
    {% for button in save_buttons %}
    <input type="submit" value="{{ button.label }}" class="{{ button.class|default:'default' }}" name="{{ button.name|default:'_save' }}">
    {% endfor %}
    {% endif %}
  </div>
  {% else %}
  {{ block.super }}
  {% endif %}
{% endblock %}


